@use "./mixins/breakpoint" as *;
@use "./mixins/disable-mob-hover" as *;
.bid {
  &__row {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    margin-top: 1rem;
    @include tablet {
      display: flex;
      flex-direction: column-reverse;
      gap: 4.375rem;
    }
  }
  &__image {
    @include tablet {
      display: none;
    }
  }
  &__image {
    img {
      margin-left: -15px;
    }
  }
  &__links {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
  &__link {
    color: var(--black);
    font-size: clamp(1.125rem, 0.7806rem + 1.4694vw, 2.25rem);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: 0.3s;
    @include hover() {
      &:hover {
        color: var(--green-medium);
      }
    }
  }
}
