@use "./mixins/disable-mob-hover" as *;
@use "./mixins/breakpoint" as *;
.button {
  border-radius: 100px;
  padding: 22.5px 3.75rem;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: clamp(1.125rem, 1.0102rem + 0.4898vw, 1.5rem);
  line-height: 1;
  color: var(--black);
  box-sizing: border-box;
  outline: 0;
  border: 0;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: var(--green-base);

  &:active {
    background-color: var(--green-dark);
  }
  @include hover {
    &:hover {
      background-color: var(--green-medium);
    }
  }
}
