@use "./mixins/breakpoint" as *;
.faq {
  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
    gap: 1.25rem;
    @include mobile {
      grid-template-columns: 1fr;
      gap: 0.75rem;
    }
  }
  &-item {
    position: relative;
    overflow: hidden;
    border-radius: clamp(1.25rem, 0.8673rem + 1.6327vw, 2.5rem);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
    background: var(--white);
    transition: background 0.3s 0.2s;
    &.js-active {
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
      background: var(--green-base);
    }
    @include mobile {
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
    }
    &__head {
      padding: clamp(1.25rem, 0.4847rem + 3.2653vw, 3.75rem)
        clamp(1.25rem, 0.8673rem + 1.6327vw, 2.5rem)
        clamp(1.25rem, 0.4847rem + 3.2653vw, 3.75rem)
        clamp(1.25rem, 0.102rem + 4.898vw, 5rem);
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      box-sizing: border-box;
      font-size: clamp(1rem, 0.6939rem + 1.3061vw, 2rem);
      color: var(--black);
      line-height: normal;
      cursor: pointer;
    }
    &__body {
      position: relative;
      top: -20px;
      box-sizing: border-box;
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      transition: 0.4s;
      font-size: clamp(0.875rem, 0.6837rem + 0.8163vw, 1.5rem);
      line-height: normal;
      padding: 0 clamp(1.25rem, 0.102rem + 4.898vw, 5rem);
      @include mobile {
        top: -10px;
      }
      > *:first-child {
        margin-top: 0;
      }
      > *:last-child {
        margin-bottom: 0;
      }
    }
    &__icon {
      width: clamp(1.25rem, 0.8673rem + 1.6327vw, 2.5rem);
      height: clamp(1.25rem, 0.8673rem + 1.6327vw, 2.5rem);
      margin-left: 30px;
      transition: 0.4s;
      flex-shrink: 0;
      fill: var(--black);
      path {
        fill: var(--black);
      }
    }
    &.js-active {
      .faq-item__body {
        padding-bottom: 20px;
        max-height: 62.5rem;
        opacity: 1;
      }
      .faq-item__icon {
        transform: rotate(45deg);
      }
    }
  }
}
