.footer {
  padding: 50px 0;
  &__grid {
    display: grid;
    grid-template-columns: 460px 460px 421px;
    gap: 20px;
    justify-content: space-between;
  }
  &__item {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    font-size: 20px;
  }
  &__link {
    color: var(--black);
  }
}
