@use "./mixins/breakpoint" as *;
.hero {
  &__content {
    position: relative;
    z-index: 50;
    min-height: calc(100dvh + 180px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  &__picture {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    img {
      @include for-desktop {
        max-width: 65%;
      }
    }
  }
  &__title {
    margin: 0 0 27px 0;
    font-family: var(--second-family);
    font-weight: 400;

    // font-size: 128px;

    font-size: clamp(3rem, 1.4694rem + 6.5306vw, 8rem);
    line-height: 1;
  }
  &__desc {
    font-weight: 400;
    font-size: clamp(1.5rem, 1.2704rem + 0.9796vw, 2.25rem);
  }
  &__slide-wrap {
    margin-top: 14px;
    display: flex;
    align-items: center;
    min-height: 56px;
    .typed-cursor {
      border-radius: 0.875rem;
      width: 0.25rem;
      height: 3.375rem;
      background: var(--green-dark);
      font-size: 0;
      margin-left: 0.5rem;
    }
  }
  &__slide {
    font-weight: 500;
    font-size: clamp(1.5rem, 1.2704rem + 0.9796vw, 2.25rem);
    color: var(--green-dark);
  }
  &__button {
    margin-top: 65px;
  }
}
