/* stylelint-disable */
:root {
  --font-family: "LT Superior", sans-serif;
  --second-family: "Steppe", sans-serif;
  --third-family: "Involve", sans-serif;
  --content-width: 1720px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --white: #fff;
  --black: #141414;
  --green-base: #35ff90;
  --green-medium: #00f56e;
  --green-dark: #00e968;
  --green-light: #6bffb0;
  --gray-dark: #8e8e8e;
  --gray-light: #eaeaea;
  --font-lit: 1rem;
  --font-default: 1.125rem;
  --font-medium: 1.75rem;
  --font-medium-xl: 2.5rem;
  --font-big: 4.375rem;
}
@media (max-width: 576px) {
  :root {
    --container-offset: 20px;
  }
}

/* stylelint-disable */
@font-face {
  font-family: "LT Superior";
  src: url("../fonts/../fonts/LTSuperior-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "LT Superior";
  src: url("../fonts/../fonts/LTSuperior-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "LT Superior";
  src: url("../fonts/../fonts/LTSuperior-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "LT Superior";
  src: url("../fonts/../fonts/LTSuperior-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Steppe";
  src: url("../fonts/../fonts/Steppe-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Involve";
  src: url("../fonts/../fonts/Involve-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  color: var(--black);
  scrollbar-gutter: stable;
}

.page__body {
  margin: 0;
  min-width: 360px;
  min-height: 100%;
  font-size: 16px;
  overflow-x: hidden;
}
.page__body.lock-scroll {
  overflow: hidden;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}
.container--relative {
  position: relative;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

/* stylelint-disable */
/* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */
/* stylelint-disable value-keyword-case */
.section {
  padding: 70px 0;
}
@media (min-width: 1025px) {
  .section {
    padding: 60px 0;
  }
}
@media (max-width: 576px) {
  .section {
    padding: 35px 0;
  }
}
.section--first {
  padding-top: 30px;
}
@media (max-width: 1024px) {
  .section--first {
    padding-top: 4.375rem;
  }
}
.section--big-padding {
  padding: 110px 0;
}
@media (min-width: 1025px) {
  .section--big-padding {
    padding: 80px 0;
  }
}
@media (max-width: 576px) {
  .section--big-padding {
    padding: 30px 0;
  }
}
.section-head {
  max-width: 1185px;
}
.section-head__title {
  margin: 0;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: clamp(1.75rem, 1.1378rem + 2.6122vw, 3.75rem);
  line-height: 107%;
}
@media (max-width: 1024px) {
  .section-head__title {
    line-height: 114%;
  }
}
.section-head__desc {
  margin: clamp(1.25rem, 1.0204rem + 0.9796vw, 2rem) 0 0 0;
  font-weight: 400;
  font-size: clamp(1.125rem, 0.7806rem + 1.4694vw, 2.25rem);
  line-height: normal;
}
.section-head--lit-margin {
  margin-bottom: 20px;
}
@media (max-width: 576px) {
  .section-head--lit-margin {
    margin-bottom: 32px;
  }
}
.section-head--big-margin {
  margin-bottom: 60px;
}
@media (max-width: 576px) {
  .section-head--big-margin:not(.section-head--big-margin-mobile) {
    margin-bottom: 34px;
  }
}
.section-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-top: clamp(2rem, 1.4643rem + 2.2857vw, 3.75rem);
}
.section-footer__wrap {
  max-width: 1140px;
  width: 100%;
}
.section-footer__title {
  margin-bottom: clamp(0.5rem, 0.1939rem + 1.3061vw, 1.5rem);
  font-family: var(--third-family);
  font-size: clamp(1.5rem, 1.1173rem + 1.6327vw, 2.75rem);
  line-height: normal;
}
.section-footer__desc {
  max-width: 1140px;
  font-weight: 400;
  font-size: clamp(1.125rem, 0.7806rem + 1.4694vw, 2.25rem);
  line-height: normal;
  width: 100%;
}
.section-footer__desc span {
  position: relative;
}
.section-footer__desc span svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 250%;
  height: 250%;
}

.button {
  border-radius: 100px;
  padding: 22.5px 3.75rem;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: clamp(1.125rem, 1.0102rem + 0.4898vw, 1.5rem);
  line-height: 1;
  color: var(--black);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
  border: 0;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  background-color: var(--green-base);
}
.button:active {
  background-color: var(--green-dark);
}
@media (max-width: 768px) {
  .button {
    padding: 15px 32px 13px;
  }
}
@media (any-hover: hover) {
  .button:hover:hover {
    background-color: var(--green-medium);
  }
}

.header {
  position: fixed;
  top: 2.5rem;
  left: 0;
  width: 100%;
  z-index: 1000;
  -webkit-transform: translateY(-150%);
  -ms-transform: translateY(-150%);
  transform: translateY(-150%);
  opacity: 0;
}
@media (max-width: 1024px) {
  .header {
    top: 0;
    padding-top: 0.5rem;
  }
}
.header__bottom {
  display: none;
}
@media (max-width: 1024px) {
  .header__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1.5rem;
  }
}
.header__burger {
  display: none;
}
@media (max-width: 1024px) {
  .header__burger {
    display: block;
    margin-left: auto;
  }
}
.header__menu {
  padding: 22px 60px;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
  background: var(--white);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 100px;
}
@media (max-width: 1400px) {
  .header__menu {
    padding: 16px 30px;
  }
}
@media (max-width: 1024px) {
  .header__menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 2rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 56px 20px 22px;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-color: var(--white);
    border-radius: 0;
  }
  .header__menu.header__menu--active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
@media (max-width: 1400px) {
  .header__list {
    gap: 24px;
  }
}
@media (max-width: 1024px) {
  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 0;
  }
}
.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 1;
}
.header__link {
  font-weight: 400;
  font-size: clamp(1.125rem, 1.0867rem + 0.1633vw, 1.25rem);
  color: var(--black);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (any-hover: hover) {
  .header__link:hover:hover {
    color: var(--green-dark);
  }
}
@media (max-width: 1024px) {
  .header__link {
    padding: 14px 0;
  }
}
.header__bottom-link {
  font-size: clamp(1.125rem, 1.0867rem + 0.1633vw, 1.25rem);
  color: var(--black);
}
.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 0.75rem;
}

.burger {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.burger--rotate.burger--active {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.burger__icon {
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}
.burger__line {
  fill: none;
  -webkit-transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #000;
  stroke-width: 5.5;
  stroke-linecap: round;
}
.burger__line--top {
  stroke-dasharray: 40 82;
}
.burger__line--middle {
  stroke-dasharray: 40 111;
}
.burger__line--bottom {
  stroke-dasharray: 40 161;
}
.burger--active .burger__line--top {
  stroke-dasharray: 17 82;
  stroke-dashoffset: -62px;
}
.burger--active .burger__line--middle {
  stroke-dashoffset: 23px;
}
.burger--active .burger__line--bottom {
  stroke-dashoffset: -83px;
}
.burger--active .burger__icon {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hero {
  position: relative;
  overflow: hidden;
}
.hero__content {
  position: relative;
  z-index: 50;
  min-height: calc(100dvh + 180px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
@media (max-width: 576px) {
  .hero__content {
    min-height: inherit;
    padding-top: 21.1875rem;
  }
}
.hero__picture {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-transform: translateX(10%);
  -ms-transform: translateX(10%);
  transform: translateX(10%);
  opacity: 0;
}
.hero__picture img {
  height: auto;
  width: auto;
}
@media (max-width: 1400px) {
  .hero__picture img {
    max-width: 65%;
  }
}
@media (max-width: 576px) {
  .hero__picture img {
    max-width: 100%;
  }
}
.hero__title {
  margin: 0 0 clamp(1.125rem, 0.9528rem + 0.7347vw, 1.6875rem) 0;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: clamp(3rem, 1.4694rem + 6.5306vw, 8rem);
  line-height: 1;
}
.hero__desc {
  font-weight: 400;
  font-size: clamp(1.5rem, 1.2704rem + 0.9796vw, 2.25rem);
}
.hero__slide-wrap {
  margin-top: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 56px;
}
@media (max-width: 576px) {
  .hero__slide-wrap {
    display: block;
  }
}
.hero__slide-wrap .typed-cursor {
  border-radius: 0.875rem;
  width: 0.25rem;
  height: clamp(1.375rem, 0.7628rem + 2.6122vw, 3.375rem);
  background: var(--green-dark);
  font-size: 0;
  margin-left: 0.5rem;
}
@media (max-width: 1024px) {
  .hero__slide-wrap .typed-cursor {
    width: 0.125rem;
  }
}
@media (max-width: 576px) {
  .hero__slide-wrap .typed-cursor {
    display: inline-block;
    vertical-align: top;
    margin-left: 0.25rem;
  }
}
.hero__slide {
  font-weight: 500;
  font-size: clamp(1.5rem, 1.2704rem + 0.9796vw, 2.25rem);
  color: var(--green-dark);
}
@media (max-width: 576px) {
  .hero__slide {
    font-weight: 400;
    display: inline;
  }
}
.hero__button {
  margin-top: clamp(2.6rem, 2.0217rem + 2.0408vw, 4.0625rem);
}
@media (max-width: 576px) {
  .hero__button {
    width: 100%;
  }
}

.problems__wrap {
  position: relative;
}
@media (max-width: 1024px) {
  .problems__wrap {
    height: 52dvh;
    z-index: 500;
    max-width: 576px;
    margin: 0 auto;
  }
}
.problems-item {
  position: relative;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
  background: var(--white);
  border-radius: 60px;
  padding: 40px 80px;
  min-height: 280px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (max-width: 1024px) {
  .problems-item {
    position: absolute;
    padding: 20px;
    min-height: 120px;
    width: 100%;
    border-radius: 20px;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
  }
  .problems-item.js-active {
    background-color: var(--green-base);
  }
}
.problems-item:last-child {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 70px 80px;
  min-height: 150px;
}
@media (max-width: 1024px) {
  .problems-item:last-child {
    position: static;
    padding: 20px;
    min-height: inherit;
  }
}
.problems-item:last-child .problems-item__content {
  max-height: 32px;
}
@media (max-width: 1024px) {
  .problems-item:last-child .problems-item__content {
    max-height: inherit;
  }
}
@media (any-hover: hover) {
  .problems-item:hover:hover {
    background-color: var(--green-base);
    -webkit-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    transform: translateY(-40px);
  }
  .problems-item:hover:hover .problems-item__content {
    opacity: 1;
  }
  .problems-item:hover:hover ~ .problems-item {
    z-index: 50;
  }
  .problems-item:hover:hover .problems-item__title:not(.problems-item__title--invisible) {
    opacity: 0;
  }
}
@media (any-hover: hover) {
  .problems-item:last-child:hover:hover {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .problems-item:last-child:hover:hover .problems-item__content {
    max-height: 500px;
  }
}
@media (max-width: 576px) {
  .problems-item {
    border-radius: 20px;
  }
}
.problems-item__title {
  font-size: clamp(1rem, 0.6939rem + 1.3061vw, 2rem);
  line-height: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.problems-item__title:not(.problems-item__title--invisible) {
  position: absolute;
}
@media (max-width: 1024px) {
  .problems-item__title:not(.problems-item__title--invisible) {
    position: relative;
  }
}
@media (max-width: 1024px) {
  .problems-item__title--invisible {
    display: none;
  }
}
.problems-item__desc {
  margin-top: 7px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: clamp(0.875rem, 0.6837rem + 0.8163vw, 1.5rem);
  color: var(--black);
}
.problems-item__content {
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (max-width: 1024px) {
  .problems-item__content {
    opacity: 1;
  }
}
.problems-item + .problems-item {
  margin-top: -155px;
}
@media (max-width: 1024px) {
  .problems-item + .problems-item {
    margin-top: 12px;
  }
}
@media (max-width: 1024px) {
  .problems-item.is-stacked {
    background-color: var(--green-base);
  }
}

.experts__wrap {
  position: relative;
  overflow: hidden;
}
.experts__row {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -60px -25px;
}
@media (max-width: 576px) {
  .experts__row {
    margin: 0;
  }
}
.experts__item-container {
  padding: 60px 25px;
  width: 33.3%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 576px) {
  .experts__item-container:nth-child(-n+3) {
    border-bottom: 2px solid var(--gray-light);
  }
}
@media (max-width: 1024px) {
  .experts__item-container {
    width: 50%;
  }
}
@media (max-width: 1024px) and (min-width: 576px) {
  .experts__item-container:nth-child(4) {
    border-bottom: 2px solid var(--gray-light);
  }
}
@media (max-width: 576px) {
  .experts__item-container {
    padding: 20px 0;
    width: 100%;
  }
  .experts__item-container:not(:last-child) {
    border-bottom: 2px solid var(--green-medium);
  }
  .experts__item-container:first-child {
    padding-top: 0;
  }
  .experts__item-container:last-child {
    padding-bottom: 0;
  }
}
.experts-item__title {
  font-size: clamp(1rem, 0.6939rem + 1.3061vw, 2rem);
  line-height: normal;
  margin-bottom: clamp(0.5rem, 0.2704rem + 0.9796vw, 1.25rem);
}
.experts-item__desc {
  font-size: clamp(0.875rem, 0.6837rem + 0.8163vw, 1.5rem);
  line-height: normal;
}

.when-need__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
@media (max-width: 1024px) {
  .when-need__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0;
  }
}
.when-need-item {
  min-height: 14.75rem;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
  background: #fff;
  padding: clamp(1.25rem, 0.8673rem + 1.6327vw, 2.5rem);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: clamp(1.25rem, 0.8673rem + 1.6327vw, 2.5rem);
}
@media (max-width: 1024px) {
  .when-need-item {
    height: auto;
    max-width: 18rem;
    width: 100%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    min-height: inherit;
  }
}
.when-need-item__desc {
  margin: 0;
  font-size: clamp(1rem, 0.6939rem + 1.3061vw, 2rem);
  line-height: normal;
}
.when-need-item__text-highlight {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#41f07a), to(#41f07a));
  background-image: linear-gradient(#41f07a, #41f07a);
  background-repeat: no-repeat;
  background-position: 0 115%;
  background-size: 0% 0.28em;
  -webkit-transition: background-size 0.4s ease;
  transition: background-size 0.4s ease;
  padding-bottom: 0.05em;
}

.offer {
  position: relative;
}
.offer__picture {
  position: absolute;
  top: 0;
  -webkit-transform: translateY(-48%);
  -ms-transform: translateY(-48%);
  transform: translateY(-48%);
  right: 0;
}
@media (max-width: 576px) {
  .offer__picture {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    width: 8.125rem;
    top: -0.625rem;
  }
}
.offer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 2rem;
}
.offer__title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: clamp(1.75rem, 1.1378rem + 2.6122vw, 3.75rem);
  line-height: 107%;
  margin: 0;
}
.offer__desc {
  margin: 0;
  font-size: clamp(1.125rem, 0.8571rem + 1.1429vw, 2rem);
  line-height: normal;
}
@media (max-width: 576px) {
  .offer__button {
    width: 100%;
  }
}

.appeals {
  position: relative;
}
.appeals__list {
  clear: both;
}
.appeals__list:after {
  content: "";
  display: table;
  clear: both;
}
.appeals__list .js-marquee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}
@media (max-width: 576px) {
  .appeals__list .js-marquee {
    gap: 0.75rem;
  }
}
.appeals__list + .appeals__list {
  margin-top: 1.25rem;
}
@media (max-width: 576px) {
  .appeals__list + .appeals__list {
    margin-top: 0.75rem;
  }
}
.appeals__item {
  padding: 1.3125rem 1.25rem 1.1875rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  font-size: clamp(1rem, 0.8469rem + 0.6531vw, 1.5rem);
  line-height: normal;
  border-radius: clamp(0.75rem, 0.6735rem + 0.3265vw, 1rem);
  -webkit-box-shadow: 0 0 1.25rem 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 1.25rem 0 rgba(0, 0, 0, 0.05);
  background-color: var(--white);
}
@media (max-width: 1024px) {
  .appeals__item {
    padding: 0.8125rem 0.75rem 0.6875rem;
    -webkit-box-shadow: 0px 0px 0.625rem 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 0.625rem 0px rgba(0, 0, 0, 0.05);
  }
}
.appeals__button {
  margin-top: 3.75rem;
}
@media (max-width: 576px) {
  .appeals__button {
    margin-top: 2rem;
    width: 100%;
  }
}

.how-we-work {
  position: relative;
  overflow: hidden;
}
.how-we-work__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  gap: 2.5rem;
  counter-reset: item;
}
.how-we-work-item {
  min-width: 31.4375rem;
  max-width: 31.4375rem;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
@media (max-width: 1024px) {
  .how-we-work-item {
    max-width: 18rem;
    min-width: inherit;
  }
}
.how-we-work-item:before {
  counter-increment: item;
  content: "0" counter(item) "/";
  font-size: clamp(1rem, 0.6939rem + 1.3061vw, 2rem);
  display: block;
  margin-bottom: 20px;
}
.how-we-work-item__desc {
  font-size: clamp(0.875rem, 0.6837rem + 0.8163vw, 1.5rem);
  line-height: normal;
}
.how-we-work__note {
  margin-top: 32px;
  font-size: clamp(0.75rem, 0.5969rem + 0.6531vw, 1.25rem);
  line-height: normal;
}
.how-we-work__svg {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-29%);
  -ms-transform: translateY(-29%);
  transform: translateY(-29%);
  overflow: hidden;
  left: 0;
  z-index: -1;
  width: 100%;
}
@media (max-width: 1024px) {
  .how-we-work__svg {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    top: 7.1875rem;
  }
}
@media (max-width: 576px) {
  .how-we-work__svg {
    width: auto;
    top: 4rem;
  }
}

.faq__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 1.25rem;
}
@media (max-width: 576px) {
  .faq__items {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 0.75rem;
  }
}
.faq-item {
  position: relative;
  overflow: hidden;
  border-radius: clamp(1.25rem, 0.8673rem + 1.6327vw, 2.5rem);
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
  background: var(--white);
  -webkit-transition: background 0.3s 0.2s;
  transition: background 0.3s 0.2s;
}
@media (any-hover: hover) {
  .faq-item:hover:hover {
    background-color: var(--green-base);
  }
}
.faq-item.js-active {
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
  background: var(--green-base);
}
@media (max-width: 576px) {
  .faq-item {
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  }
}
.faq-item__head {
  padding: clamp(1.25rem, 0.4847rem + 3.2653vw, 3.75rem) clamp(1.25rem, 0.8673rem + 1.6327vw, 2.5rem) clamp(1.25rem, 0.4847rem + 3.2653vw, 3.75rem) clamp(1.25rem, 0.102rem + 4.898vw, 5rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: clamp(1rem, 0.6939rem + 1.3061vw, 2rem);
  color: var(--black);
  line-height: normal;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.faq-item__body {
  position: relative;
  top: -2.5rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-size: clamp(0.875rem, 0.6837rem + 0.8163vw, 1.5rem);
  line-height: normal;
  padding: 0 clamp(1.25rem, 0.102rem + 4.898vw, 5rem);
}
@media (max-width: 576px) {
  .faq-item__body {
    top: -1.25rem;
  }
}
.faq-item__body > *:first-child {
  margin-top: 0;
}
.faq-item__body > *:last-child {
  margin-bottom: 0;
}
.faq-item__icon {
  width: clamp(1.25rem, 0.8673rem + 1.6327vw, 2.5rem);
  height: clamp(1.25rem, 0.8673rem + 1.6327vw, 2.5rem);
  margin-left: 30px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  fill: var(--black);
}
.faq-item__icon path {
  fill: var(--black);
}
.faq-item.js-active .faq-item__body {
  max-height: 62.5rem;
  opacity: 1;
}
.faq-item.js-active .faq-item__icon {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.main-offer {
  position: relative;
}
.main-offer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 32px;
}
@media (max-width: 576px) {
  .main-offer__content {
    text-align: center;
  }
}
.main-offer__title {
  margin: 0;
  font-family: var(--second-family);
  font-size: clamp(1.75rem, 1.1378rem + 2.6122vw, 3.75rem);
  font-style: normal;
  font-weight: 400;
  line-height: clamp(2.125rem, 1.551rem + 2.449vw, 4rem);
}
@media (max-width: 576px) {
  .main-offer__title {
    max-width: 80%;
  }
}
.main-offer__desc {
  font-size: clamp(1.125rem, 0.7806rem + 1.4694vw, 2.25rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 576px) {
  .main-offer__desc {
    max-width: 80%;
  }
}
@media (max-width: 576px) {
  .main-offer__button {
    width: 100%;
  }
}
.main-offer__decor {
  position: absolute;
  z-index: -1;
}
.main-offer__decor--1 {
  top: -7.0625rem;
  left: -2.4375rem;
}
@media (max-width: 576px) {
  .main-offer__decor--1 {
    top: -2.7125rem;
    left: -2.625rem;
    width: 5.3125rem;
  }
}
.main-offer__decor--2 {
  right: -175px;
  bottom: -274px;
}
@media (max-width: 576px) {
  .main-offer__decor--2 {
    right: -15%;
    bottom: 31%;
    width: 31%;
  }
}

.numbers__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
}
@media (max-width: 576px) {
  .numbers__grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 2.5rem;
  }
}
.numbers-item__value {
  font-size: clamp(3.75rem, 3.0612rem + 2.9388vw, 6rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--green-dark);
}
.numbers-item__desc {
  margin-top: 20px;
  padding-top: 19px;
  border-top: 2px solid var(--gray-light);
  font-size: clamp(0.875rem, 0.6837rem + 0.8163vw, 1.5rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 576px) {
  .numbers-item__desc {
    margin-top: 8px;
    padding-top: 8px;
  }
}

.slider-default {
  overflow: visible;
}
.slider-default__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 1.25rem;
  height: auto;
  padding: clamp(1.25rem, 0.8673rem + 1.6327vw, 2.5rem);
  border-radius: clamp(1.25rem, 0.8673rem + 1.6327vw, 2.5rem);
  background: var(--white);
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 576px) {
  .slider-default__slide {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
    gap: 0.75rem;
  }
}
.slider-default__name {
  font-size: clamp(1rem, 0.6939rem + 1.3061vw, 2rem);
  font-weight: 400;
  line-height: normal;
  margin-bottom: 4px;
}
.slider-default__name--margin {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (any-hover: hover) {
  .slider-default__name--margin:hover:hover {
    color: var(--green-dark);
    cursor: pointer;
  }
}
.slider-default__desc {
  font-size: clamp(0.875rem, 0.6837rem + 0.8163vw, 1.5rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.slider-default__showmore {
  margin-top: auto;
  background: transparent;
  outline: 0;
  border: 0;
  padding: 0;
  color: var(--gray-dark);
  /* Desktop/Body/S */
  font-size: clamp(0.875rem, 0.6837rem + 0.8163vw, 1.5rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (any-hover: hover) {
  .slider-default__showmore:hover:hover {
    color: var(--green-dark);
  }
}
.slider-default__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 2.5rem;
  margin-top: 32px;
}
@media (max-width: 576px) {
  .slider-default__arrows {
    display: none;
  }
}
.slider-default__footer {
  margin-top: auto;
}
.slider-default__pos {
  font-size: clamp(0.875rem, 0.6837rem + 0.8163vw, 1.5rem);
  line-height: normal;
  color: var(--gray-dark);
}
.slider-default__arrow {
  height: 3.625rem;
  width: 3.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
}
.slider-default__arrow.swiper-button-disabled {
  pointer-events: none;
}
.slider-default__arrow.swiper-button-disabled svg {
  fill: var(--gray-light);
}
.slider-default__arrow svg {
  height: 100%;
  width: 100%;
  fill: var(--green-dark);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
@media (any-hover: hover) {
  .slider-default__arrow:hover svg {
    fill: var(--green-light);
  }
}

.price__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
@media (max-width: 1024px) {
  .price__grid {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media (max-width: 576px) {
  .price__grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 12px;
  }
}
.price-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: clamp(1.25rem, 0.8673rem + 1.6327vw, 2.5rem);
  border-radius: clamp(1.25rem, 0.8673rem + 1.6327vw, 2.5rem);
  background: #fff;
  /* Shadow */
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
}
.price-item__value {
  color: var(--green-dark);
  text-align: center;
  font-size: clamp(2rem, 1.4643rem + 2.2857vw, 3.75rem);
  line-height: normal;
  margin-bottom: 12px;
}
.price-item__name {
  font-size: clamp(1rem, 0.6939rem + 1.3061vw, 2rem);
  line-height: normal;
  text-align: center;
}
.price-item__desc {
  color: var(--gray-dark);
  text-align: center;
  font-size: clamp(0.75rem, 0.5969rem + 0.6531vw, 1.25rem);
  line-height: normal;
}
.price-item__list {
  list-style: none;
  margin: 32px 0;
  padding: 0;
}
@media (max-width: 576px) {
  .price-item__list {
    margin: 1.25rem 0 2rem;
  }
}
.price-item__item {
  position: relative;
  padding-left: 24px;
  font-size: clamp(0.875rem, 0.6837rem + 0.8163vw, 1.5rem);
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 576px) {
  .price-item__item {
    font-size: 0.875rem;
    padding-left: 1.25rem;
  }
}
.price-item__item + .price-item__item {
  margin-top: 0.75rem;
}
@media (max-width: 576px) {
  .price-item__item + .price-item__item {
    margin-top: 0.5rem;
  }
}
.price-item__item:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.5rem;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  background-color: var(--green-base);
}
@media (max-width: 576px) {
  .price-item__item:before {
    top: 0.3125rem;
    height: 0.25rem;
    width: 0.25rem;
  }
}
.price-item__button {
  margin-top: auto;
}

.form__item {
  position: relative;
}
.form__item + .form__item {
  margin-top: 29px;
}
.form__input {
  display: block;
  width: 100%;
  height: clamp(2.5rem, 2.246rem + 1.129vw, 3.375rem);
  font-size: clamp(1rem, 0.8469rem + 0.6531vw, 1.5rem);
  padding: 0;
  border: none;
  border-bottom: 2px solid var(--gray-light);
  background: transparent;
  outline: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: var(--dark);
  caret-color: var(--green-dark);
}
.form__input.just-validate-success-field {
  border-bottom-color: var(--green-dark);
}
@media (any-hover: hover) {
  .form__input:hover:hover {
    border-color: var(--gray-dark);
  }
}
.form__input:not(:-moz-placeholder) + .form__input-placeholder {
  font-size: 16px;
  transform: translateY(-180%);
}
.form__input:not(:-ms-input-placeholder) + .form__input-placeholder {
  font-size: 16px;
  -ms-transform: translateY(-180%);
  transform: translateY(-180%);
}
.form__input:focus + .form__input-placeholder, .form__input:not(:placeholder-shown) + .form__input-placeholder {
  font-size: 16px;
  -webkit-transform: translateY(-180%);
  -ms-transform: translateY(-180%);
  transform: translateY(-180%);
}
@media (max-width: 768px) {
  .form__input:not(:-moz-placeholder) + .form__input-placeholder {
    transform: translateY(-140%);
  }
  .form__input:not(:-ms-input-placeholder) + .form__input-placeholder {
    -ms-transform: translateY(-140%);
    transform: translateY(-140%);
  }
  .form__input:focus + .form__input-placeholder, .form__input:not(:placeholder-shown) + .form__input-placeholder {
    -webkit-transform: translateY(-140%);
    -ms-transform: translateY(-140%);
    transform: translateY(-140%);
  }
}
.form__input-placeholder {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: var(--gray-dark);
  /* Desktop/Body/S */
  font-family: "LT Superior";
  font-size: clamp(1rem, 0.8548rem + 0.6452vw, 1.5rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  pointer-events: none;
}
.form__file-container {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.form__file-container--big-margin {
  margin: clamp(1.875rem, 1.301rem + 2.449vw, 3.75rem) 0;
}
.form__file-container--default {
  margin: clamp(1.25rem, 0.8673rem + 1.6327vw, 2.5rem) 0;
}
@media (max-width: 576px) {
  .form__file-container--default {
    margin: 2rem 0 3.75rem;
  }
}
.form__file-container:hover {
  color: var(--green-dark);
}
.form__file-container input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}
.form__file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.5rem;
  font-size: clamp(1rem, 0.8469rem + 0.6531vw, 1.5rem);
  cursor: pointer;
}
.form__file-icon {
  height: 28px;
  width: 28px;
  stroke: var(--green-dark);
  fill: none;
}
@media (max-width: 576px) {
  .form__file-icon {
    height: 1.25rem;
    width: 1.25rem;
  }
}
.form__file-remove {
  height: 28px;
  width: 28px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  fill: var(--green-dark);
  position: relative;
  z-index: 2500;
  margin-top: -4px;
  outline: 0;
}
@media (max-width: 576px) {
  .form__file-remove {
    height: 1.25rem;
    width: 1.25rem;
  }
}
.form__policy {
  margin-top: clamp(0.75rem, 0.2143rem + 2.2857vw, 2.5rem);
  font-size: clamp(0.875rem, 0.7602rem + 0.4898vw, 1.25rem);
}
@media (max-width: 576px) {
  .form__button--w100 {
    width: 100%;
  }
}

.just-validate-error-label {
  position: absolute;
  margin-top: 4px;
  font-size: 0.875rem;
}

.bid__left {
  max-width: 700px;
}
.bid__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.2fr;
  grid-template-columns: 1fr 1.2fr;
  margin-top: 1rem;
  gap: 2.5rem;
}
@media (max-width: 1024px) {
  .bid__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    gap: 4.375rem;
  }
}
.bid__image {
  position: relative;
  height: clamp(25rem, 23.1855rem + 8.0645vw, 31.25rem);
}
.bid__image picture {
  position: absolute;
  right: 0;
  top: 0;
}
.bid__image img {
  -o-object-fit: none;
  object-fit: none;
  max-width: inherit;
  -o-object-fit: inherit;
  object-fit: inherit;
}
@media (max-width: 1024px) {
  .bid__image {
    display: none;
  }
}
.bid__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 0.75rem;
}
.bid__link {
  color: var(--black);
  font-size: clamp(1.125rem, 0.7806rem + 1.4694vw, 2.25rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (any-hover: hover) {
  .bid__link:hover:hover {
    color: var(--green-medium);
  }
}

.footer {
  padding: 50px 0;
}
.footer__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 28.75rem 28.75rem 26.3125rem;
  grid-template-columns: 28.75rem 28.75rem 26.3125rem;
  gap: 20px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 1400px) {
  .footer__grid {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }
}
@media (max-width: 768px) {
  .footer__grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 0.8rem;
  font-size: clamp(0.875rem, 0.7602rem + 0.4898vw, 1.25rem);
}
@media (max-width: 1400px) {
  .footer__item--links {
    -ms-grid-column-span: 2;
    grid-column: span 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
@media (max-width: 768px) {
  .footer__item--links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-column: inherit;
  }
}
.footer__link {
  color: var(--black);
}

.modal__container {
  padding: clamp(1.25rem, 0.8871rem + 1.6129vw, 2.5rem);
  border-radius: clamp(1.25rem, 0.8871rem + 1.6129vw, 2.5rem);
  width: 96%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.modal__container--lit {
  max-width: 57.375rem;
}
.modal__container--big {
  max-width: 75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-height: 90vh;
}
.modal__container--thanks {
  max-width: 25.4375rem;
  background-color: var(--green-base);
}
.modal__content {
  height: 100%;
  overflow-y: auto;
}
.modal__content--visible {
  overflow: visible;
}
.modal__close {
  height: 40px;
  width: 40px;
  padding: 0;
  background-color: transparent;
  outline: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.modal__close svg {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (any-hover: hover) {
  .modal__close:hover:hover svg {
    fill: var(--green-dark);
  }
}
.modal__close-icon {
  height: 100%;
  width: 100%;
  fill: var(--black);
}
.modal__title {
  font-size: clamp(1.5rem, 1.3548rem + 0.6452vw, 2rem);
  font-weight: 400;
  color: var(--black);
}
.modal__header {
  margin-bottom: clamp(1.5625rem, 1.2903rem + 1.2097vw, 2.5rem);
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.modal__desc {
  margin-top: 0.75rem;
}

.fadeDown {
  -webkit-transform: translateY(70px);
  -ms-transform: translateY(70px);
  transform: translateY(70px);
  opacity: 0;
  will-change: transform;
}

.experts-item__title span {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.experts-item__title:not(:hover) span {
  -webkit-transition-delay: none !important;
  transition-delay: none !important;
  -webkit-transition: 0.3s !important;
  transition: 0.3s !important;
}

.experts-item__title.active span {
  color: var(--green-base);
}

.experts-item__title span {
  -webkit-transition-property: color;
  transition-property: color;
}

.text-content {
  font-size: clamp(0.875rem, 0.7219rem + 0.6531vw, 1.375rem);
}
.text-content > *:first-child {
  margin-top: 0;
}
.text-content > *:last-child {
  margin-bottom: 0;
}
.text-content h4 {
  margin-bottom: -1rem;
}/*# sourceMappingURL=main.css.map */
