<section class="section when-need">
  <div class="container">
    <div class="section-head section-head--big-margin">
      <h2 class="section-head__title">
        Что вы получите
      </h2>
    </div>
    <div class="faq__items" itemscope itemtype="https://schema.org/FAQPage">
      <div class="faq-item" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
        <div class="faq-item__head" itemprop="name">
          Был проведен детальный технический и seo аудит
          <svg class="faq-item__icon">
            <use xlink:href="img/sprite.svg#plus"></use>
          </svg>
        </div>
        <div class="faq-item__body" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
          <p itemprop="text">
            «Я долго искал команду профессионалов, спосоную воссоздать
            мой проект с нуля, и я очень рад что наткнулся на ребят из
            Word.Sky. Их подход к делу и коммуникация просто поражают. С
            самой первой нашей встречи, когда мне объяснили все аспекты
            моего проекта и провели консультацию, я понял что попал к
            профессионалам. Очень благодарен ребятам за работу и
            скорость выполнения проекта!»
          </p>
        </div>
      </div>

      <div class="faq-item" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
        <div class="faq-item__head" itemprop="name">
          Был проведен детальный технический и seo аудит
          <svg class="faq-item__icon">
            <use xlink:href="img/sprite.svg#plus"></use>
          </svg>
        </div>
        <div class="faq-item__body" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
          <p itemprop="text">
            «Я долго искал команду профессионалов, спосоную воссоздать
            мой проект с нуля, и я очень рад что наткнулся на ребят из
            Word.Sky. Их подход к делу и коммуникация просто поражают. С
            самой первой нашей встречи, когда мне объяснили все аспекты
            моего проекта и провели консультацию, я понял что попал к
            профессионалам. Очень благодарен ребятам за работу и
            скорость выполнения проекта!»
          </p>
        </div>
      </div>

      <div class="faq-item" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
        <div class="faq-item__head" itemprop="name">
          Был проведен детальный технический и seo аудит
          <svg class="faq-item__icon">
            <use xlink:href="img/sprite.svg#plus"></use>
          </svg>
        </div>
        <div class="faq-item__body" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
          <p itemprop="text">
            «Я долго искал команду профессионалов, спосоную воссоздать
            мой проект с нуля, и я очень рад что наткнулся на ребят из
            Word.Sky. Их подход к делу и коммуникация просто поражают. С
            самой первой нашей встречи, когда мне объяснили все аспекты
            моего проекта и провели консультацию, я понял что попал к
            профессионалам. Очень благодарен ребятам за работу и
            скорость выполнения проекта!»
          </p>
        </div>
      </div>

      <div class="faq-item" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
        <div class="faq-item__head" itemprop="name">
          Был проведен детальный технический и seo аудит
          <svg class="faq-item__icon">
            <use xlink:href="img/sprite.svg#plus"></use>
          </svg>
        </div>
        <div class="faq-item__body" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
          <p itemprop="text">
            «Я долго искал команду профессионалов, спосоную воссоздать
            мой проект с нуля, и я очень рад что наткнулся на ребят из
            Word.Sky. Их подход к делу и коммуникация просто поражают. С
            самой первой нашей встречи, когда мне объяснили все аспекты
            моего проекта и провели консультацию, я понял что попал к
            профессионалам. Очень благодарен ребятам за работу и
            скорость выполнения проекта!»
          </p>
        </div>
      </div>

      <div class="faq-item" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
        <div class="faq-item__head" itemprop="name">
          Был проведен детальный технический и seo аудит
          <svg class="faq-item__icon">
            <use xlink:href="img/sprite.svg#plus"></use>
          </svg>
        </div>
        <div class="faq-item__body" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
          <p itemprop="text">
            «Я долго искал команду профессионалов, спосоную воссоздать мой проект с нуля, и я очень
            рад что наткнулся на ребят из Word.Sky. Их подход к делу и коммуникация просто поражают. С самой
            первой нашей встречи, когда мне объяснили все аспекты моего проекта и провели консультацию, я понял
            что попал к профессионалам. Очень благодарен ребятам за работу и скорость выполнения проекта!»
          </p>
        </div>
      </div>
    </div>

  </div>
</section>
