<section class="section faq">
  <div class="container">
    <div class="section-head section-head--big-margin">
      <h2 class="section-head__title">
        FAQ
      </h2>
      <p class="section-head__desc">
        Частые вопросы о нашем контроле за подрядчиками
      </p>
    </div>
    <div class="faq__items" itemscope itemtype="https://schema.org/FAQPage">
      <div class="faq-item" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
        <div class="faq-item__head" itemprop="name">
          Почему мне нужен ваш контроль?
          <svg class="faq-item__icon">
            <use xlink:href="img/sprite.svg#plus"></use>
          </svg>
        </div>
        <div class="faq-item__body" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
          <p itemprop="text">
            Потому что ваши подрядчики, скорее всего, увиливают от работы, заваливают сроки или накручивают бюджет.
            Мы проверяем их работу на каждом этапе, и у них не останется шансов на халтуру
          </p>
        </div>
      </div>

      <div class="faq-item" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
        <div class="faq-item__head" itemprop="name">
          Вы правда понимаете, как работают digital-агентства?
          <svg class="faq-item__icon">
            <use xlink:href="img/sprite.svg#plus"></use>
          </svg>
        </div>
        <div class="faq-item__body" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
          <p itemprop="text">
            Да, мы знаем, как они работают, что они скрывают и где хитрят. У нас достаточно опыта, чтобы видеть слабые
            места и исправлять их в ваших интересах
          </p>
        </div>
      </div>

      <div class="faq-item" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
        <div class="faq-item__head" itemprop="name">
          Чем вы отличаетесь от обычного консультанта?
          <svg class="faq-item__icon">
            <use xlink:href="img/sprite.svg#plus"></use>
          </svg>
        </div>
        <div class="faq-item__body" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
          <p itemprop="text">
            Мы не даём абстрактных рекомендаций. Мы жёстко внедряем контроль и добиваемся реального результата. Чёткие
            сроки, прозрачные отчёты и никакой воды
          </p>
        </div>
      </div>

      <div class="faq-item" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
        <div class="faq-item__head" itemprop="name">
          С какими подрядчиками вы работаете?
          <svg class="faq-item__icon">
            <use xlink:href="img/sprite.svg#plus"></use>
          </svg>
        </div>
        <div class="faq-item__body" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
          <p itemprop="text">
            С любыми: от крошечных веб-студий до крупных digital-агентств. Все они равны под нашим контролем
          </p>
        </div>
      </div>

      <div class="faq-item" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
        <div class="faq-item__head" itemprop="name">
          А что, если подрядчик всё-таки накосячит?
          <svg class="faq-item__icon">
            <use xlink:href="img/sprite.svg#plus"></use>
          </svg>
        </div>
        <div class="faq-item__body" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
          <p itemprop="text">
            Он даже не успеет это сделать. Мы найдём проблему до того, как она начнёт вредить вашему проекту. А если
            потребуется, предложим вам подходящих специалистов, которые выполнят работу как надо
          </p>
        </div>
      </div>
      <div class="faq-item" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
        <div class="faq-item__head" itemprop="name">
          А что в итоге?
          <svg class="faq-item__icon">
            <use xlink:href="img/sprite.svg#plus"></use>
          </svg>
        </div>
        <div class="faq-item__body" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
          <p itemprop="text">
            Итоги — ваш успешный проект, выполненный вовремя и без раздувания бюджета. И спокойствие, что всё сделано
            честно
          </p>
        </div>
      </div>
    </div>

  </div>
</section>