<header class="header">
  <div class="container">
    <nav class="header__menu">
      <ul class="header__list list-reset">
        <li class="header__item"><a href="#" class="header__link">Главная</a></li>
        <li class="header__item"><a href="#" class="header__link">О нас</a></li>
        <li class="header__item"><a href="#" class="header__link">Этапы работ</a></li>
        <li class="header__item"><a href="#" class="header__link">Преимущества</a></li>
        <li class="header__item"><a href="#" class="header__link">Кейсы</a></li>
        <li class="header__item"><a href="#" class="header__link">Отзывы</a></li>
        <li class="header__item"><a href="#" class="header__link">Сколько стоит</a></li>
        <li class="header__item"><a href="#" class="header__link">Оставить заякву</a></li>
      </ul>
    </nav>
  </div>
</header>
