<div class="hero">

  <div class="container">
    <picture class="hero__picture">

      <source srcset="img/hero_mob.webp" type="image/webp" media="(max-width: 576px)">
      <source srcset="img/hero_mob.png" media="(max-width: 576px)">
      <source srcset="img/hero_img.webp" type="image/webp">
      <img src="img/hero_img.png" class="image" width="" height="" alt="">
    </picture>
    <div class="hero__content">
      <h1 class="hero__title fadeDown">ИТ-контроль</h1>
      <div class="hero__desc fadeDown">
        Решаем it-проблемы, а не создаем новые
      </div>
      <div class="hero__slide-wrap fadeDown">
        <div class="hero__slide"></div>
      </div>
      <button class="hero__button button fadeDown" data-micromodal-trigger="callback">Проверить</button>
    </div>
  </div>
</div>