<div class="hero">

  <div class="container">
    <picture class="hero__picture">
      <source srcset="img/hero_img.webp" type="image/webp">
      <img src="img/hero_img.png" class="image" width="" height="" alt="">
    </picture>
    <div class="hero__content">
      <h1 class="hero__title">ИТ-контроль</h1>
      <div class="hero__desc">
        Решаем it-проблемы, а не создаем новые
      </div>
      <div class="hero__slide-wrap">
        <div class="hero__slide"></div>
      </div>
      <button class="hero__button button">Проверить</button>
    </div>
  </div>
</div>
