<section class="section how-we-work">
  <div class="container">
    <div class="section-head section-head--big-margin">
      <h2 class="section-head__title">
        Как мы работаем
      </h2>
    </div>
    <svg class="how-we-work__svg" width="1920" height="273" viewBox="0 0 1920 273" fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M-115 149.5C-57.8333 109.333 95.9476 18.6199 255.5 15C542 8.5 627.586 144.469 774 149.5C1065 159.5 1104.5 57 1284 50C1420.76 44.6667 1505.5 135.5 1729.5 135.5C1864.5 135.5 1981.5 48.5 2066.5 5"
        stroke="#6BFFB0" stroke-width="10" stroke-linecap="round" />
      <path
        d="M-44 80.686C13.1667 120.853 166.948 211.566 326.5 215.186C613 221.686 698.586 85.7174 845 80.686C1136 70.686 1175.5 173.186 1355 180.186C1491.76 185.519 1576.5 94.686 1800.5 94.686C1935.5 94.686 2052.5 181.686 2137.5 225.186C2194 254.101 2264.2 263 2369 263"
        stroke="#6BFFB0" stroke-width="20" stroke-linecap="round" />
    </svg>
    <div class="how-we-work__grid">
      <div class="how-we-work-item">
        <div class="how-we-work-item__desc">
          Проводим консультацию без лишних формальностей. Сразу уточняем требования, забираем все данные и идём к сути
        </div>
      </div>
      <div class="how-we-work-item">
        <div class="how-we-work-item__desc">
          Разбираемся в ситуации: ищем причины проблемы, проводим аудит it-систем или технологий. Находим всё,
          что тормозит или не работает
        </div>
      </div>
      <div class="how-we-work-item">
        <div class="how-we-work-item__desc">
          Формулируем отчёт с правками для подрядчика, проверяем спринты и разрабатываем оптимальный план действий
          для быстрого и эффективного решения проблемы
        </div>
      </div>
      <div class="how-we-work-item">
        <div class="how-we-work-item__desc">
          Контролируем реализацию плана поэтапно: согласовываем все изменения с подрядчиком, проверяем выполненные
          работы и отчитываемся вам о продвижении
        </div>
      </div>
      <div class="how-we-work-item">
        <div class="how-we-work-item__desc">
          Разрабатываем коммерческое предложение*. В нём уже есть чёткое решение и путь к устранению всех найденных
          проблем. Если вам действительно нужно их исправить — получите план действий без воды
        </div>
      </div>

    </div>
    <div class="how-we-work__note">
      *Не всегда результатом нашей работы являются четкие рекомендации или план действий. В некоторых ситуациях
      улучшения не требуются
    </div>

  </div>
</section>
