<section class="section section--first problems">
  <div class="container">
    <div class="section-head section-head--lit-margin">
      <h2 class="section-head__title">
        Выведем нечестные digital-агентства на чистую воду
      </h2>
      <p class="section-head__desc">
        Дедлайны горят, а сайт не работает? <br>Разберемся, почему разработка стоит на месте
      </p>
    </div>
    <div class="problems__wrap">
      <div class="problems-item">
        <div class="problems-item__title">
          Сроки про@*$%#
        </div>
        <div class="problems-item__content">
          <div class="problems-item__title problems-item__title--invisible">
            Дедлайны просрочены на 2 года?
          </div>
          <div class="problems-item__desc">
            Подключите нас, чтобы дедлайны не горели
          </div>
        </div>
      </div>
      <div class="problems-item">
        <div class="problems-item__title">
          Кормят завтраками
        </div>
        <div class="problems-item__content">
          <div class="problems-item__title problems-item__title--invisible">
            Дедлайны просрочены на 2 года?
          </div>
          <div class="problems-item__desc">
            Подключите нас, чтобы дедлайны не горели
          </div>
        </div>
      </div>
      <div class="problems-item">
        <div class="problems-item__title">
          Душат отчетами с рандомными данными
        </div>
        <div class="problems-item__content">
          <div class="problems-item__title problems-item__title--invisible">
            Дедлайны просрочены на 2 года?
          </div>
          <div class="problems-item__desc">
            Подключите нас, чтобы дедлайны не горели
          </div>
        </div>
      </div>
      <div class="problems-item">
        <div class="problems-item__title">
          Рисуют цифры и обещают миллионы заявок за 3 дня
        </div>
        <div class="problems-item__content">
          <div class="problems-item__title problems-item__title--invisible">
            Дедлайны просрочены на 2 года?
          </div>
          <div class="problems-item__desc">
            Подключите нас, чтобы дедлайны не горели
          </div>
        </div>
      </div>
      <div class="problems-item">
        <div class="problems-item__title">
          Сдают нерабочий продукт
        </div>
        <div class="problems-item__content">
          <div class="problems-item__title problems-item__title--invisible">
            Дедлайны просрочены на 2 года?
          </div>
          <div class="problems-item__desc">
            Подключите нас, чтобы дедлайны не горели
          </div>
        </div>
      </div>

    </div>
    <div class="section-footer">
      <div class="section-footer__desc">
        С нами вы управляете проектом, как профессионал,
        <br>

        но&nbsp;<span>без&nbsp;лишних&nbsp;усилий
          <svg width="369" height="73" viewBox="0 0 369 73" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M270.519 9.29076C223.962 6.72832 116.241 8.56567 49.3111 21.9506C-34.3509 38.6819 6.7711 65.3611 66.3271 64.9089C116.005 64.5317 268.782 65.413 332.911 57.0553M332.911 57.0553C345.664 55.3933 354.911 53.3661 359.144 50.8909C384.668 35.9684 347.8 2.95817 251.376 2.05378C154.952 1.14939 8.89817 11.5499 12.4432 40.9426C15.2792 64.4567 140.3 70.6367 202.455 70.7875C238.378 71.581 311.601 70.7874 332.911 57.0553ZM332.911 57.0553C357.214 41.396 371.197 3.50267 192.529 3.86442"
              stroke="#35FF90" stroke-width="4" stroke-linecap="round" />
          </svg>
        </span>
      </div>
    </div>
  </div>
</section>
