<section class="section when-need">
  <div class="container">
    <div class="section-head section-head--big-margin">
      <h2 class="section-head__title fadeDown">
        Когда нужен ИТ-контроль
      </h2>
    </div>
    <div class="when-need__grid">
      <div class="when-need-item fadeDown">
        <p class="when-need-item__desc">
          Впервые выбираете digital-агентство, не понимаете, кому можно довериться и что от вас нужно
        </p>
      </div>
      <div class="when-need-item fadeDown">
        <p class="when-need-item__desc">
          Только приступили к разработке сайта: выбрали подрядчика, заполнили бриф и составляете тз
        </p>
      </div>
      <div class="when-need-item fadeDown">
        <p class="when-need-item__desc">
          Процесс разработки встрял на месте: что-то делается, но проект не двигается
        </p>
      </div>
      <div class="when-need-item fadeDown">
        <p class="when-need-item__desc">
          Агентство обещает рекордные показатели, которых надо ещё чуть-чуть подождать
        </p>
      </div>
      <div class="when-need-item fadeDown">
        <p class="when-need-item__desc">
          Дедлайны сгорели, бабло потрачено, а сайт не сдан
        </p>
      </div>

    </div>

  </div>
</section>