// базовые подключения
@use "vars" as *;
@use "fonts" as *;
@use "settings" as *;
@use "mixins" as mixins;
// подключения компонентов страницы
@use "./components/sections" as *;
@use "./components/button" as *;
@use "./components/header" as *;
@use "./components/burger" as *;
@use "./components/hero" as *;
@use "./components/problems" as *;
@use "./components/experts" as *;
@use "./components/when-need" as *;
@use "./components/offer" as *;
@use "./components/appeals" as *;
@use "./components/how-we-work" as *;
@use "./components/faq" as *;
@use "./components/main-offer" as *;
@use "./components/numbers" as *;
@use "./components/slider" as *;
@use "./components/price" as *;
@use "./components/form" as *;
@use "./components/bid" as *;
@use "./components/footer" as *;
@use "./components/modal" as *;

.fadeDown {
  transform: translateY(70px);
  opacity: 0;
  will-change: transform;
}

.experts-item__title span {
  transition: color 0.3s;
}
.experts-item__title:not(:hover) {
  span {
    transition-delay: none !important;
    transition: 0.3s !important;
  }
}
.experts-item__title.active span {
  color: var(--green-base);
}

.experts-item__title span {
  transition-property: color;
}

.text-content {
  font-size: clamp(0.875rem, 0.7219rem + 0.6531vw, 1.375rem);
  & > *:first-child {
    margin-top: 0;
  }
  & > *:last-child {
    margin-bottom: 0;
  }
  h4 {
    margin-bottom: -1rem;
  }
}
